.cardForm{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.invalid{
    border: 1px solid red;
    background: rgb(68,13,13);
}

.input{
    background: none;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid whitesmoke;
    font-family: 'Source Sans 3', sans-serif;
    width: 100%;
    color: white;
 }

.inputTitle{
    border: none;
    background: none;
    font-size: 28px;
    font-weight: 500;
    border-bottom: 1px solid whitesmoke;
    font-family: 'Source Sans 3', sans-serif;
    width: 100%;
    color: white;
}
.formRow{
    display: flex;
    align-items: center;
    gap: 50px;
}
.formLabel{
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 150px;
}
